<nav>
  <div>
    <a class="text-decoration-none" href="/"
      ><h1 class="display-4 text-center pt-3">The Journal Book list</h1></a
    >
  </div>
  <ul class="list-unstyled d-flex gap-3 justify-content-center">
    <li><a class="text-decoration-none" href="/">Home</a></li>
    <li><a class="text-decoration-none" href="/about">About</a></li>
  </ul>
</nav>
