<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
      <h1 class="text-center">About</h1>
      <p class="text-center">
        Hi there! This project is a simple book list app built using Node.js and
        MongoDB. The idea behind it is to allow users to add and remove books to
        their list, and search for books by title. It's a great way to keep
        track of your personal library or inventory, and could be useful for
        small bookstores or libraries. The app is built using Express, and uses
        EJS as its templating engine. It also utilizes Mongoose to interact with
        the database. The app has basic CRUD functionality, allowing users to
        create, read, update, and delete books from their inventory. The code
        consists of three main parts: the HTML and EJS templates that make up
        the frontend of the app, the server-side Node.js code that handles
        requests and communicates with the database, and the MongoDB schema and
        model that defines the structure of the data stored in the database.
        Overall, this is a simple but functional app that can serve as a
        starting point for more complex inventory or library management systems.
        Thanks for checking it out!
      </p>
    </div>
  </body>
</html>
